.Menu {
    list-style: none;
    min-width: 230px;
    float:left;    
    padding: 25px;
    margin-top: 15px
}

    .Menu > li {
        border: 1px #008080 solid;
        padding: 3px;
        cursor: pointer;
        transition: background-color ease-in-out .3s;
    }

        .Menu > li:hover {
            background-color: #B0D4F1;
            transition: background-color ease-in-out .3s;
        }
