.Tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

    .Tab > li {
        border: 1px #808080 solid;
        padding: 3px;
        cursor: pointer;
        transition: background-color ease-in-out .3s;
    }

        .Tab > li:hover {
            background-color: #493333;
            transition: background-color ease-in-out .3s;
        }
