#root {
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container{
    position: relative;
    float: right;
    max-height:80vh;
    
    overflow: auto;
}