#root {
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container{
    position: relative;
    float: right;
    max-height:80vh;
    
    overflow: auto;
}
.accountList:hover {
    background-color: red;
    transition: background-color ease-in-out .3s;
}
.accountList{
    background-color: inherit;
    transition: background-color ease-in-out .3s;
}
.exclude{
    cursor: pointer;
}