#root {
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    position: relative;
    float: left;
    max-height: 80vh;
    overflow: auto;
    margin: 15px 0px 0px 15px
}

.title {
    width: 100%;
    align-content: center;
    border: 1px #008080 solid;
    border-radius: 12px;
    background-color: #F2F2F2;
}

.accountList:hover {
    background-color: #1c4a1d;
    transition: background-color ease-in-out .3s;
}

.accountList {
    background-color: inherit;
    transition: background-color ease-in-out .3s;
}

.exclude {
    color: red;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid red;
    cursor: pointer;
}
